body {
    background-image: url('assets/image/FondoPantalla.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Press Start 2P', cursive;
    color: white;
    text-align: center;
    margin: 0;
}

.card {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 30px rgba(0, 255, 255, 0.5);
    padding: 20px;
    max-width: 400px;
    margin-top: 50px;
}

.card img {
    border-radius: 50%;
    border: 5px solid cyan;
    margin-bottom: 20px;
}

h3 {
    font-family: 'Press Start 2P', cursive;
    font-size: 36px;
    color: #FF6347;
    text-shadow: 2px 2px 5px lime, 2px 2px 10px cyan;
}

.form-label {
    font-family: 'Press Start 2P', cursive;
    font-size: 18px;
    color: #00FF00;
    text-shadow: 1px 1px 3px black;
}

.form-control {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid #FF6347;
    border-radius: 8px;
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: 18px;
    text-shadow: 1px 1px 3px black;
}

.btn-primary {
    background: linear-gradient(135deg, #ff1493, #ff6347);
    border: 2px solid #ff1493;
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: 18px;
    padding: 12px 25px;
    border-radius: 10px;
    text-transform: uppercase;
    box-shadow: 0px 4px 6px rgba(255, 0, 255, 0.2);
    transition: transform 0.3s ease-in-out;
}

.btn-primary:hover {
    transform: scale(1.1);
    background: linear-gradient(135deg, #ff6347, #ff1493);
    box-shadow: 0px 8px 10px rgba(255, 0, 255, 0.4);
}

.btn-primary:active {
    transform: scale(0.95);
    box-shadow: 0px 4px 6px rgba(255, 0, 255, 0.2);
}

.text-white-50 {
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
}

.a {
    color: #ff1493;
    text-decoration: none;
    text-shadow: 1px 1px 3px black;
}

.input-group button {
    background-color: rgba(0, 255, 255, 0.3);
    border-radius: 8px;
    padding: 8px;
    box-shadow: 0px 3px 5px rgba(0, 255, 255, 0.4);
}

.input-group button:hover {
    background-color: rgba(0, 255, 255, 0.5);
    transform: scale(1.1);
    box-shadow: 0px 6px 10px rgba(0, 255, 255, 0.6);
}
